@import "../abstracts/extends";
@import "../base/tipography";

.footer-contenedor {  
    background-color: black;
    color: white;
    padding: 40px 0px;
}
.footer-texto-contenedor {
    @extend %in-line;
    font-family: $tipografia-principal;
}