@import "../abstracts/extends";
@import "../base/tipography";

.navbar {
    @extend %in-stack;
    align-items: flex-start;
    font-family: $tipografia-principal;
    background-color: black;
    color: white;
    padding: 20px;

    h3 {
        padding-bottom: 10px;
    }
}

.filtros-contenedor {
    @extend %in-line;
    justify-content: space-between;
}

.botones-contenedor {
    display:flex;
    justify-content: flex-end;    

    button {
        background-color: transparent;
        border: 1px solid white;
    }

}