@import "../abstracts/extends";
@import "../base/tipography";




.resultados-cards-contenedor {
    margin: 100px;
  }
  .card-comic-positionator {
    margin: 20px;
  
    .card-comic-basica {
      height: $altura-de-card;
      width: $ancho-de-card;
  
      .comic-img-contenedor {
        display: flex;
        justify-content: center;
        img {
            height: $altura-de-card;
            width: $ancho-de-card;
        }
      }
    }
    .comic-titulo-contenedor {
    //   margin-top: 0;
    //   margin-bottom: 20px;
      width: $ancho-de-card;
h3{
font-family: $tipografia-principal;
text-align: center;
}

    }
  }

%img-contenedor {
    max-width: 230px;
    height: auto;
    img {
        width: 100%;
    }
}

.card-comic-basica {
    @extend %is-clickeable !optional;
    @extend %in-stack;
   
    &:hover {
       @extend %move-up;
      // border: 10px solid red ;
    }
    margin: 0 10px 40px;
    box-shadow: 10px 5px 5px rgb(189, 185, 185);
    .comic-img-contenedor {
         @extend %img-contenedor;
    }
}


.comic-titulo {
    font-size: 14px;
    margin: 5px;
}

.card-detalle-contenedor {
    font-family: $tipografia-principal;
}
.card-comic-detalle-contenedor {
    display:flex;
    .comic-img-contenedor {
        @extend %img-contenedor;
        margin-right: 20px;
    }
}

.comic-contenido-contenedor {
    margin-left: 20px;

    h1, h3, p {
        margin: 20px;
    }
   
}

.personajes-cards-contenedor{
       @extend %in-grid;
}

.personajes-contenedor {
    h3, h4 {
       margin: 20px 0px; 
    }
    
}

.personaje-nombre-contenedor {
    padding: 16px 24px 17px 20px;
    background-color: #151515;
    color:white;
    transition: 0.2s;
    .personaje-nombre {
        height: 79px;
    }
  
}

.personaje-img-contenedor {
    flex-grow: 1;
    border-bottom: 4px solid #ed1d23;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.card-personaje-simple {
    @extend %is-clickeable !optional;
    width: calc(100% / 6 - 2 * 10px);
    position:relative;
    &:hover {
        img{
            transform: scale(1.3);
        }
      .personaje-nombre-contenedor {
            background-color: #ed1d23;
      }         
    }
}